@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  max-width: 20rem;
  border-radius: 16px;
  padding: 14px;
}
.card-img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 12px;
}
.card-text {
  text-align: center;
  padding: 14px 10px;
}
.card-text h2 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 10px;
}
.card-text p {
  color: hsl(216, 15%, 48%);
}
